langgraph
langsmith
langchain
openai
langchain-community
langchain-openai
gradio
google-generativeai
langchain-groq
langchain-ollama
langchain-deepseek
ipython
ipykernel
jupyter
notebook
python-dotenv
duckduckgo-search
ddgs
