langgraph
langsmith
langchain
openai
langchain-community
langchain-openai
gradio
langchain-google-genai
langchain-google-vertexai
langchain-groq
langchain-mistralai
langchain-anthropic
langchain-xai
langchain-ollama
langchain-deepseek
ipython
ipykernel
jupyter
notebook
python-dotenv
duckduckgo-search
ddgs
